/* ✅ Tailwind 필수 디렉티브 */
@tailwind base;
@tailwind components;
@tailwind utilities;
  
/* ✅ 글로벌 스타일 설정 */
body {
  font-family: 'NanumSquare';
  background: #fff;
  color: var(--foreground);
}

/* ✅ 테마 변수 선언 */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* ✅ 다크 모드 테마 */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
